<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="docTable"
       data-toggle="table"
       data-height="300"
       data-url="/caronhand"
       data-pagination="true"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-toolbar="#toolbar"
       data-response-handler="responseHandler">
    <thead>
    <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="id_doc" data-sortable="true">№ документа</th>
        <th data-field="id_user" data-sortable="true">Автор</th>
        <th data-field=id_contr.fio>Сотрудник</th>
        <th data-field="summa" data-sortable="true">Сумма</th>
        <th data-field="data" data-sortable="true">Дата</th>
    </tr>
    </thead>
</table>
</body>
</html>